.container-fluid {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.card-body {
  padding: 20px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #343a40;
  margin-top: 20px;
}

.btn {
  margin-right: 10px;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 16px;
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.table thead {
  background-color: #007bff;
  color: white;
}

.table th, .table td {
  padding: 12px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #f8f9fa;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.container {
  padding: 20px;
}

.container {
  padding: 20px;
}

.btn-edit {
  background-color: #0554f2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #e68900;
}

/* Scrollable Doctor List */
.doctor-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}
