<div class="container">
    <h2 class="my-4">Appointments</h2>
    <table class="table table-striped appointments-table">
      <thead class="thead-dark">
        <tr>
          <th>Appointment ID</th>
          <th>Patient ID</th>
          <th>Doctor ID</th>
          <th>Time Slot</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.appointmentID }}</td>
          <td>{{ appointment.patientID }}</td>
          <td>{{ appointment.doctorID }}</td>
          <td>{{ appointment.timeSlot }}</td>
          <td>{{ appointment.status }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="cancelAppointment(appointment.appointmentID!)">Cancel</button>
            <button class="btn btn-success btn-sm ms-2" (click)="completeAppointment(appointment.appointmentID!)">Completed</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>