<app-navbar />
<div class="container-fluid">
  <div class="row">
    <!-- User Profile Section (Fixed Left Side) -->
    <div class="col-md-3">
      <div class="card profile-card">
        <div class="card-body">
          <h5 class="card-title">Profile</h5>
          <app-profile [user]="user"></app-profile>
        </div>
      </div>
    </div>

    <!-- Features Section -->
    <div class="col-md-9">
      <div class="doctor-features">
        <h1>Doctor Dashboard</h1>
        <button class="btn btn-primary" (click)="gotoAvailabiltyPage()">Add Availability</button>
        <button class="btn btn-primary" (click)="gotoEditAvailabilityPage()">Edit Availability</button>
        <button class="btn btn-primary" (click)="gotoConsultationPage()">Add Consultation</button>
        <button class="btn btn-primary" (click)="gotoAppointmentspage()">Get Appointments</button>

        <div *ngIf="appointments.length > 0">
          <h2>Today's Appointments</h2>
          <ul>
            <li *ngFor="let appointment of appointments">
              {{appointment.timeSlot | date:'shortDate' }} - {{ appointment.timeSlot | date:'shortTime' }} - Patient ID: {{ appointment.patientID }}
            </li>
          </ul>
        </div>
        <div *ngIf="pastappointments.length > 0">
          <h2>Past Appointments</h2>
          <ul>
            <li *ngFor="let pastappointments of pastappointments">
              {{ pastappointments.timeSlot | date:'shortTime' }} - Patient ID: {{ pastappointments.patientID }}
            </li>
          </ul>
        </div>
        <div *ngIf="futureappointments.length > 0">
          <h2>Future Appointments</h2>
          <ul>
            <li *ngFor="let futureappointments of futureappointments">
              {{futureappointments.timeSlot | date}} -- {{ futureappointments.timeSlot | date:'shortTime' }} -- Patient ID: {{ futureappointments.patientID }}
            </li>
          </ul>
        </div>

        <div *ngIf="appointments.length === 0">
          <p>No appointments for today.</p>
        </div>
        <hr>
        <div *ngIf="pastappointments.length === 0">
          <p>No Past appointments.</p>
        </div><hr>
        <div *ngIf="futureappointments.length === 0">
          <p>No Future appointments.</p>
        </div>
      </div>
    </div>
  </div>
</div>